html {
  background: url(./assets/background.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  font-family: 'Dosis';
  font-size: 1vw;
  
  --color: #9f9e9e;
}

body {
  margin: 0;
  width: 100%;
  height: 100%;
  margin-top: -1em;
}

.nav {
  color: var(--color);
  list-style: none;
  display: flex;
  width: 100%;
  padding: 0;
  margin-top: 3.2rem;
  height: 5.5rem;
  align-items: center;
  gap: 4.1em;
  font-size: 1.35rem;
  text-transform: uppercase;
  background-color: rgba(0, 0, 0, 0.3);
  font-weight: 500;
}

.nav .nav-item:first-child {
  margin-left: 6.2rem;
}

.nav .nav-item {
  cursor: pointer;
  position: relative;
  transform: scale(1.3, 1);
  transform-origin: left;
}

.nav .nav-item.active::after {
  content: "";
  position: absolute;
  width: .3rem;
  height: .3rem;
  background-color: lightgray;
  border-radius: 50%;
  display: flex;
  margin: 0 auto;
  bottom: -1rem;
  left: 48%;
}

h1 {
  margin-left: 6rem;
  color: white;
  margin-top: 9.2rem;
  font-size: 8rem;
  margin-bottom: 0;
  font-weight: 500;
}

.description {
  margin-left: 6.1rem;
  color: var(--color);
  font-size: 2.3rem;
  max-width: 30ch;
  line-height: 2.9rem;
  margin-top: 1.6rem;
  transform: scale(1.056, 1);
  transform-origin: left;
}

.download {
  margin-left: 11.5rem;
  margin-top: 1.1rem;
  width: 22.2rem;
  height: 6.4rem;
  background: rgba(0, 0, 0, 0.1);
  color: var(--color);
  font-size: 1.8rem;
  border: none;
  border-radius: .5rem;
  cursor: pointer;
}